@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap'); 

:root{
    --primary-color: #7c9dd3;
    --tertiary-color : #001534;
    --gray-color : #b0b0b0 ;
}

* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    line-height: 1;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #001534, #9b59b6);
    background-image: url("../photos/top-view-variety-medicine-tablets.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
.container {
    /* background-color: var(--primary-color);
    background-image: url("../photos/top-view-variety-medicine-tablets.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    max-width: 1200px;
    width: 70%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 10%);
    margin: 20px;
}


.container .title{
    font-size: 25px;
    font-weight: 800;
    position: relative;
    font-weight: bold;
}
.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0 ;
    height: 3px;
    width: 30px;
    border-radius: 10px;
    /* background: linear-gradient(135deg, #71b7e6, #7c9dd3); */
}
  .content form .product-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .product-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 4 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .product-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #b0b0b0;
    border-bottom-width: 1px;
    transition: all 0.3s ease;
    
  }
  
  .product-details .input-box input:focus,
  .product-details .input-box input:valid{
    border-color: #b0b0b0;
  }

  .product-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #b0b0b0;
    border-bottom-width: 1px;
    transition: all 0.3s ease;
  }
  .product-details .input-box select:focus,
  .product-details .input-box select:valid{
    border-color: #b0b0b0;
  }


.product-details .input-box button{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid #b0b0b0;
    border-bottom-width: 1px;
    transition: all 0.3s ease;
    border-radius: 6px;
    background-color: #71b7e6;
    text-decoration-color: #fff;
    cursor: pointer;
    
  }
  .product-details .input-box button:focus,
  .product-details .input-box button:valid{
    border-color: #fff;
  }

  .container2 {
    /* background-color: var(--primary-color);
    background-image: url("../photos/top-view-variety-medicine-tablets.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 10%); */
    margin: 0px;
    border: 1px solid #b0b0b0 ;
    align-items: center;
    
}
.container2 table thead{
  width: 100%;
  margin: 0px;

}
.container2 table thead td{
  
  font-size: 12px;
  font-weight: 600;
  padding: 10px;


}
.container2 table tbody{
  width: 100%;
  margin: 0px;

}
.container2 table tbody td{
  
  font-size: 10px;
  font-weight: 600;
  padding: 10px;


}

.container2 table tfoot{
  width: 100%;
  margin: 0px;

}
.container2 table tfoot td{
  
  text-align: right;
  font-size: 12.5px;
  font-weight: 600;
  padding: 10px;


}

.container2 table button{
  height: 25px;
  width: 100%;
  outline: none;
  font-size: 12.5px;
  border-radius: 10px;
  padding-left: 0px;
  border: 1px solid #b0b0b0;
  border-bottom-width: 1px;
  transition: all 0.3s ease;
  border-radius: 6px;
  background-color: #71b7e6;
  text-decoration-color: #fff;
  cursor: pointer;
  text-align: center;
}
.container2 table button:focus,
.container2 table button:valid{
    border-color: #fff;

}
  
  @media(max-width: 584px){
    .container{
     max-width: 100%;
   }
   form .product-details .input-box{
       margin-bottom: 15px;
       width: 100%;
     }
.content form .product-details{
    max-height: 300px;
    overflow-y: scroll;
}
     .product-details::-webkit-scrollbar{
       width: 5px;
     }
     }
     @media(max-width: 459px){
     .container .content{
       flex-direction: row ;
     }
   }
   .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  

/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}